<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utils</title>
</head>
<body>
<h1>Welcome to the text analyser</h1>
<h3>Fill the below form</h3>
<form action="/analyze" method="get">
    <textarea name="text" style='margin : 0px ;
     width : 728px ; height : 75px;'></textarea>
    <input type="checkbox" name="removepunc">Remove punctuations
    <br>
    <input type="checkbox" name="capitalize">UPPER CASE
    <br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>